.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 6%);
  margin: 20px 0;
}

.Dictionary section .question {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ddd;
}
